alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias ls='ls --color=auto'
alias wifi-menu='sudo wifi-menu'
alias emacs='emacs -nw'
alias svim='sudo -E vim'
alias vtodo='vim todo_$(date +%F).txt'
alias ssh='ssh -o "ServerAliveInterval 60"'
alias vi='/usr/local/bin/vim'
alias v='/usr/local/bin/vim'
alias alacritty='~/bin/alacritty'
alias cdump='composer dumpautoload'
alias wtmux='tmux attach -t work || tmux new -s work'
